.banner {
  /* margin: 10px; */
  padding: 2rem;
  display: flex;
  height: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-left h1 {
  font-family: roboto;
  font-size: 4rem;
  text-align: start;
  width: 500px;
  padding-left: 40px;
  position: relative;
}
.banner-right p {
  text-align: left;
  font-size: 19px;
  padding-right: 20px;
  font-family: auto;
  font-weight: 400;
}
.content {
  position: absolute;
  display: flex;
  padding: 2rem;
  width: 100%;
  top: 60px;
}
.banner-btn {
  position: absolute;
  top: 200px;
  background-color: #0c2c3c;
  color: white;
}
.banner-btn:hover {
  background-color: #ff914d;
  color: white;
}
