.logo-container {
  margin: 0;
  padding: 0px;
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  /* border: 3px solid red; */
  align-content: baseline;
}
.logo-text {
  display: flex;
  margin: 1rem;
  margin-bottom: 10%;
  justify-content: center;
}
.logo-text-left h2 {
  font-family: roboto;
  font-weight: bold;
  font-size: -webkit-xxx-large;
  text-align: left;
  padding-left: 20px;
}

.logo-images {
  display: flex;
  margin: 24px 53px;
  justify-content: space-between;
}
.logoIMG img {
  width: 300px;
  padding: 20px;
  /* border: 2px solid red; */
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  border: none;
}

.logo-images {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
}

.logoIMG {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logoIMG button {
  background: none;

  cursor: pointer;
  padding: 10px;
  transition: transform 0.2sease;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 20px;
}

button img {
  width: 80px; /* Adjust size */
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

button:hover img {
  transform: scale(1.1); /* Slight zoom effect */
  filter: brightness(1.2);
}

h1 {
  font-size: 18px;
  margin-top: 10px;
  color: #333; /* Darker text */
}
