.programmes {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds spacing between items */
  flex-wrap: wrap; /* Ensures responsiveness */
  margin: 100px 0px;
}

.programe {
  position: relative;
  overflow: hidden;
  width: 400px; /* Adjust width as needed */
  border-radius: 10px;
}

.programe img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.programe:hover img {
  transform: scale(1.1); /* Zoom in effect */
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  color: white;
  padding: 10px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.programe:hover .caption {
  opacity: 1;
}

.btn {
  display: inline-block;
  background-color: #0c2c3c;
  color: white;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  /* transition: background 0.3s ease-in-out; */
}

.btn:hover {
  background-color: #ff914d;
  color: white;
}
