.team {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.team-left {
  flex-basis: 40%;
}
.team-right {
  flex-basis: 56%;
  padding: 0 15px;
}

.team_img {
  width: 100%;
  height: 500px; /* Fixed height for consistency */
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #0c2c3c;
}
.team h3 {
  font-weight: 600;
  font-weight: 600;
  color: blue;
  font: roboto;
}
.team-right p {
  font: robto;
}
